<form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
  <h2>Add product</h2>
  <div class="form-control">
    <label for="type-product">Type:</label>
    <select formControlName="type">
      <option value="Phone">Phone</option>
      <option value="Tablet">Tablet</option>
      <option value="Laptop">Laptop</option>
    </select>

    <div *ngIf="getAddProductForm.type.touched && getAddProductForm.type.invalid" class="validation">
      <small *ngIf="getAddProductForm.type?.errors?.['required']">Choose product type</small>
    </div>
  </div>

  <div class="form-control">
    <label for="name">Name:</label>
    <input type="text" id="title" formControlName="title">
    <div *ngIf="getAddProductForm.title.touched && getAddProductForm.title.invalid" class="validation">
      <small *ngIf="getAddProductForm.title?.errors?.['required']">Enter title product</small>
    </div>
  </div>

  <div class="form-control">
    <label for="photo">Photo:</label>
    <quill-editor formControlName="photo"></quill-editor>
  </div>

  <div class="form-control">
    <label for="information">Information:</label>
    <quill-editor formControlName="info"></quill-editor>
  </div>

  <div class="form-control">
    <label for="price">Price:</label>
     <input type="text" id="price" formControlName="price">
    <div *ngIf="getAddProductForm.price.touched && getAddProductForm.price.invalid" class="validation">
      <small *ngIf="getAddProductForm.price.errors?.['required']">Choose product type:</small>
    </div>
  </div>
  <button class="btn btn-primary btn-block" type="submit">Add product</button>
</form>
